.banner {
  color: white;
  text-align: center;
  height: 400px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  font-weight:bold;
  padding-bottom: 25px;
  justify-content:center;
}

.btn-banner {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.8s ease;
  margin-top: 15px;
}

.btn-banner:hover {
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

